<div style="text-align:center">
  <h2>
    {{ title }}
  </h2>
</div>

<div class="form" style="text-align:center">
  <!-- prefectureフォーム -->
  <mat-form-field appearance="fill">
    <mat-label>都道府県</mat-label>
    <mat-select name="pref" (selectionChange)="searchCities($event.value)">
      <mat-option *ngFor="let pref of pref_list" [value]="pref">
        {{pref}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Cityフォーム -->
  <mat-form-field appearance="fill">
    <mat-label>市町村区</mat-label>
    <mat-select name="city" (selectionChange)="_searchTowns($event.value)">
      <mat-option *ngFor="let cn of city_list" [value]=cn>
        {{cn}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Townフォーム -->
  <mat-form-field appearance="fill">
    <mat-label>地区名</mat-label>
    <mat-select name="town" (selectionChange)="changeSelectedTown($event.value)">
      <!-- <mat-option>-指定なし-</mat-option> -->
      <mat-option *ngFor="let tn of town_list" [value]=tn>
        {{tn.town}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="updateWeather()" color="primary">検索</button>
</div>

<app-weather [townWeather]="selectedTownWeather"></app-weather>

