<div id="mn" *ngIf="townWeather">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- 天気カラム -->
    <ng-container matColumnDef="weather">
      <th mat-header-cell *matHeaderCellDef> 天気 </th>
      <td mat-cell *matCellDef="let element">{{element.weather_main}}</td>
    </ng-container>
    <!-- 状態カラム -->
    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef> 状態 </th>
      <td mat-cell *matCellDef="let element"> {{element.weather_description}} </td>
    </ng-container>
    <!-- 気温カラム -->
    <ng-container matColumnDef="temp">
      <th mat-header-cell *matHeaderCellDef> 気温 </th>
      <td mat-cell *matCellDef="let element"> {{(element.temp- 273.15).toFixed(2)}}℃ </td>
    </ng-container>
    <!-- 最低気温カラム -->
    <ng-container matColumnDef="temp_l">
      <th mat-header-cell *matHeaderCellDef> 最低気温 </th>
      <td mat-cell *matCellDef="let element"> {{(element.temp_min- 273.15).toFixed(2)}}℃ </td>
    </ng-container>
    <!-- 最高気温カラム -->
    <ng-container matColumnDef="temp_h">
      <th mat-header-cell *matHeaderCellDef> 最高気温 </th>
      <td mat-cell *matCellDef="let element"> {{(element.temp_max- 273.15).toFixed(2)}}℃</td>
    </ng-container>
    <!-- 湿度カラム -->
    <ng-container matColumnDef="hum">
      <th mat-header-cell *matHeaderCellDef> 湿度 </th>
      <td mat-cell *matCellDef="let element"> {{element.humidity}}%</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div *ngIf="townWeather">
  <!--  (window:resize)=displaySizeChange($event) -->
  <!-- Chart Section -->
  <div class="flexLayoutContainer">
    <div fxLayout="column">
      <div fxLayout="row wrap">
        <mat-card id='HourlyChart' style="position:relative">
          <mat-card-content style="justify-content: center">
            <div class="temp-chart">
              <app-hourly-temp-chart [dataSet]='hourlySet'></app-hourly-temp-chart>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card id='dailyChart' style="position:relative">
          <mat-card-content style="justify-content: center">
            <div class="temp-chart">
              <app-daily-temp-chart [dataSet]='dailySet'></app-daily-temp-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- End Chart Section -->
</div>
<a href="/debug">></a>
