table {
  width: 100%;
  background-color: whitesmoke;
}

#mn {
  margin-left: 100px;
  margin-right: 100px;
}

#dailyChart {
  background-color: white;
}

#HourlyChart {
  background-color: #ffffff;
}

.flexLayoutContainer {
  height: 100%;
}

mat-card {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.temp-chart {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
